<div class="c-shelter">
  <div class="u-content">
    <div class="u-header">
      <h2 class="u-title">Casas de acogida</h2>
      <div class="c-shelter__block">
        <p>Las casas de acogida son muy importantes para nosotros, ya que al no tener refugio es la única manera que tenemos de ayudar a nuestros animales.
          Siendo casa de acogida ayudas a que podamos continuar con nuestra labor.</p>
        </div>
        <div class="c-shelter__block">
        <h2 class="c-shelter__block-title">¿Qué es una casa de acogida?</h2>
        <p>Una casa de acogida es un hogar temporal que ofreces a un animal hasta que encuentra un hogar definitivo. Hakuna Matata cubrirá todos los gastos
          causados por visitas veterianarias o posibles tratamientos del animal acogido. Si no puedes adoptar a un animal, pero quieres ayudar, puedes acoger a un animal temporalmente.</p>
        <p>Los animales que se entregan en acogida llevan, en la medida de lo posible, una revisión veterinaria, desparasitación interna y externa, vacunas, chip,
          en algunos casos algún tratamiento o cuidados extras y en muchos casos se entregarán también esterilizados.</p>
        <p><strong>Las casas de acogida son la parte más necesaria para nuestra asociación.</strong></p>
      </div>
      <div class="c-shelter__block">
        <h2 class="c-shelter__block-title">¿Cuáles son los Hakuna que necesitan una acogida con más urgencia?</h2>
        <div class="c-shelter__text-image">
          <p class="c-shelter__block-text"><strong class="c-shelter__block-mini-title">Lael: </strong>
            Es muy sociable, te pide mimos y comida por partes iguales. Si algo no le gusta, te avisa con un bufido. Hay que saber entenderle.
            <br><br>Para más información sobre Lael <a href="https://www.facebook.com/media/set/?vanity=Hakunamatatafamiliaanimalista&set=a.1930087203808798" target="_blank">pulsa aquí</a>
             o <a href="/sobre-nosotras">ponte en contacto con nostras</a>. Puedes escribirnos a través de nuestro email (<strong class="break-all">hakunamatata.familiaanimalista@gmail.com</strong>),
             nuestro <a href="https://www.instagram.com/hakunamatatafamiliaanimalista/" target="_blank">Instagram</a>
             o nuestro <a href="https://www.facebook.com/Hakunamatatafamiliaanimalista/" target="_blank">Facebook</a>.</p>
          <img class="c-shelter__img" src="assets/img/animals/lael.jpg" alt="">
        </div>

        <div class="c-shelter__image-text">
          <img class="c-shelter__img" src="assets/img/animals/kratos.jpg" alt="">
          <p class="c-shelter__block-text"><strong class="c-shelter__block-mini-title">Kratos: </strong>
            Es un perro muy bueno y súper cariñoso, le encanta jugar con otros perros y es compatible con gatos y otros animales. Necesitamos acogida urgente para él.
            Actualmente está en Bizkaia aunque se valorarían acogidas en Madrid.
            <br><br>Para más información sobre Kratos <a href="https://www.facebook.com/media/set/?vanity=Hakunamatatafamiliaanimalista&set=a.1838938789590307" target="_blank">pulsa aquí</a>
             o <a href="/sobre-nosotras">ponte en contacto con nostras</a>. Puedes escribirnos a través de nuestro email (<strong class="break-all">hakunamatata.familiaanimalista@gmail.com</strong>),
             nuestro <a href="https://www.instagram.com/hakunamatatafamiliaanimalista/" target="_blank">Instagram</a>
             o nuestro <a href="https://www.facebook.com/Hakunamatatafamiliaanimalista/" target="_blank">Facebook</a>.</p>
        </div>

        <div class="c-shelter__text-image">
          <p class="c-shelter__block-text"><strong class="c-shelter__block-mini-title">Gatitos lactante/cachorros: </strong>
            Siempre se necesitan acogidas para gatitos lactantes y cachorros ya que hay muchos casos cada año de camadas que nacen en la calle.
            Si quieres ser casa de acogida de gatitos <a href="/sobre-nosotras">ponte en contacto con nostras</a>. Puedes escribirnos a través de nuestro email (<strong class="break-all">hakunamatata.familiaanimalista@gmail.com</strong>),
             nuestro <a href="https://www.instagram.com/hakunamatatafamiliaanimalista/" target="_blank">Instagram</a>
             o nuestro <a href="https://www.facebook.com/Hakunamatatafamiliaanimalista/" target="_blank">Facebook</a>.</p>
          <img class="c-shelter__img" src="assets/img/cats2.jpeg" alt="">
        </div>

        <div class="c-shelter__image-text">
          <img class="c-shelter__img" src="assets/img/drogo.jpg" alt="">
          <p class="c-shelter__block-text"><strong class="c-shelter__block-mini-title">Drogon y Rhaegal: </strong>
            Estas ratitas (Viserion, su hermano, falleció en agosto de 2021) son ancianas y necesitamos una casa de acogida donde puedan ser atendidas y felices el tiempo que les quede.
            <br><br>Para más información sobre Drogon y Rhaegal <a href="https://www.facebook.com/media/set/?vanity=Hakunamatatafamiliaanimalista&set=a.1539772122840310" target="_blank">pulsa aquí</a>
             o <a href="/sobre-nosotras">ponte en contacto con nostras</a>. Puedes escribirnos a través de nuestro email (<strong class="break-all">hakunamatata.familiaanimalista@gmail.com</strong>),
             nuestro <a href="https://www.instagram.com/hakunamatatafamiliaanimalista/" target="_blank">Instagram</a>
             o nuestro <a href="https://www.facebook.com/Hakunamatatafamiliaanimalista/" target="_blank">Facebook</a>.</p>
        </div>

        <div class="c-shelter__text-image">
          <p class="c-shelter__block-text"><strong class="c-shelter__block-mini-title">Caeli: </strong>
            Es una gata Carey, es muy cariñosa y le gusta estar siempre cerca aunque a veces no tan pegada como otras. Le encantan las caricias aunque hay que saber cuándo parar, si no, ya te lo explica ella sutilmente.
            Si quieres más información sobre Caeli <a href="https://www.facebook.com/media/set/?vanity=Hakunamatatafamiliaanimalista&set=a.1057553131062214" target="_blank">pulsa aquí</a>
            o <a href="/sobre-nosotras">ponte en contacto con nostras</a>. Puedes escribirnos a través de nuestro email (<strong class="break-all">hakunamatata.familiaanimalista@gmail.com</strong>),
             nuestro <a href="https://www.instagram.com/hakunamatatafamiliaanimalista/" target="_blank">Instagram</a>
             o nuestro <a href="https://www.facebook.com/Hakunamatatafamiliaanimalista/" target="_blank">Facebook</a>.</p>
          <img class="c-shelter__img" src="assets/img/animals/caeli.jpg" alt="">
        </div>

      </div>

      <p>Si estás buscando otro tipo de acogida, pulsa en la casa de acogida que te interese para
        descargarte el formulario, y reenvianoslo cubierto a:<br><strong class="break-all">hakunamatata.familiaanimalista@gmail.com</strong>. ¡Te responderemos en cuanto podamos!</p>
      <p>Estas son las principales casas de acogida que necesitamos:</p>
      <p class="visible-xs"><strong>Para descargarte los forularios en formato Word, hazlo desde el ordenador.</strong></p>
    </div>
    <div class="c-shelter__buttons">
      <a class="c-shelter__button-link u-button hidden-xs" href="assets/cuestionarios-acogida/Cuestionario-acogida-perro.doc">Casa de acogida para perros</a>
      <a class="c-shelter__button-link u-button hidden-xs" href="assets/cuestionarios-acogida/Cuestionario-acogida-gato.doc">Casa de acogida para gatos</a>
      <a class="c-shelter__button-link u-button hidden-xs" href="assets/cuestionarios-acogida/Cuestionario-acogida-huron.doc">Casa de acogida para hurones</a>
      <a class="c-shelter__button-link u-button hidden-xs" href="assets/cuestionarios-acogida/Cuestionario-acogida-cerdo.doc">Casa de acogida para cerdos</a>
      <a class="c-shelter__button-link u-button visible-xs" href="assets/cuestionarios-acogida/Cuestionario-acogida-perro.pdf">Casa de acogida para perros</a>
      <a class="c-shelter__button-link u-button visible-xs" href="assets/cuestionarios-acogida/Cuestionario-acogida-gato.pdf">Casa de acogida para gatos</a>
      <a class="c-shelter__button-link u-button visible-xs" href="assets/cuestionarios-acogida/Cuestionario-acogida-huron.pdf">Casa de acogida para hurones</a>
      <a class="c-shelter__button-link u-button visible-xs" href="assets/cuestionarios-acogida/Cuestionario-acogida-cerdo.pdf">Casa de acogida para cerdos</a>
    </div>
  </div>
</div>
