<div class="c-adoption-card" (click)="goToDetail()">
  <div class="c-adoption-card__img"
      [ngStyle]="
      animal.principalImageFileName
        ? {
            'background-image': 'url(' + getAnimalImage() + ')'
          }
        : { 'background-image': 'url(assets/img/animal_default.jpg)' }
    ">
    <div class="c-adoption-card__img-label">{{animal.name}}</div>
  </div>
  <div class="c-adoption-card__text">
    <p><strong>Sexo:</strong> {{genderLabels[animal.genderId]}}</p>
    <p><strong>F. nac:</strong> {{animal.birthDate ? (animal.birthDate | date: 'dd/MM/yyyy') : '-'}}</p>
  </div>
</div>

