<div class="c-adoption-card" (click)="goToDetail()">
  <div class="c-adoption-card__img"
      [ngStyle]="
      animal.imageUrl
        ? {
            'background-image': 'url(' + getAnimalImage() + ')'
          }
        : { 'background-image': 'url(assets/img/animal_default.jpg)' }
    ">
    <div class="c-adoption-card__img-label">{{animal.name}}</div>
  </div>
  <div class="c-adoption-card__text">
    <p><strong>Sexo:</strong> {{animal.gender}}</p>
    <p><strong>F. nac:</strong> {{animal.dateBirth}}</p>
  </div>
</div>

