<div class="c-sponsor">
  <section class="u-content">
    <h2 class="u-title">Apadrina o amadrina un Hakuna</h2>
    <div class="c-sponsor__block">
      <img class="u-main-img" src="assets/img/duck.jpeg">
    </div>
    <div class="c-sponsor__block">
      <h2 class="c-sponsor__block-title">¿En qué consiste apadrinar un Hakuna?</h2>
      <p class="c-sponsor__block-text">Apadrinar uno de nuestros apenas consiste en pagar una cantidad de dinero al mes (las cuotas son a partir de 5€),
        con el que ayudas con los gastos de ese animal: por ejemplo los gastos veterinarios, los gastos de alimentación, medicaciones si necesita,
        desparasitaciones, camitas, lechos...
    </div>
    <div class="c-sponsor__block">
      <h2 class="c-sponsor__block-title">¿Qué recibirás a cambio?</h2>
      <p class="c-sponsor__block-text">Te daremos informacion del animal que hayas elegido como tu protegido, nos puedes preguntar siempre que quieras por el
        y ademas mensualmente te haremos un resumen de su caso: si ha tenido que ir al veterinario, si han tenido que realizarle pruebas
        cuáles han sido los resultados, si ha conocido nuevos amigos o si ha estado echando la siesta en el sofa.
        Por supuesto esta informacion estara acompañada de fotos y videos. </p>
      <p class="c-sponsor__block-text">
        También tienes la oportunidad de conocer a tu Hakuna protegido siempre y cuando esté en un lugar al que puedas acudir
        y podamos cuadrarlo con la casa de acogida. </p>
    </div>
    <div class="c-sponsor__block">
      <h2 class="c-sponsor__block-title">¿Cómo puedo hacerme padrino/madrina?</h2>
      <p class="c-sponsor__block-text">Para hacerte padrino o madrina de un Hakuna, o para más información, escríbenos un email a: <strong class="break-all">hakunamatata.familiaanimalista@gmail.com</strong></p>
    </div>
    <div class="c-sponsor__block">
      <h2 class="c-sponsor__block-title">¿Cuáles son los Hakuna que necesitan un padrino o madrina con más urgencia?</h2>
      <p class="c-sponsor__block-text">Estos son los Hakunas más necesitados de un padrino o madrina, por estar enfermos o por tener un tratamiento de por vida:</p>
      <div class="c-sponsor__text-image">
        <p class="c-sponsor__block-text"><strong class="c-sponsor__block-mini-title">Bourbon: </strong>es un perro de tres años que fue cedido por su dueño el cual lo tenia siempre atado a una cadena en una finca.
          Una vez rescatado supimos que era epiléptico. No sabemos si esto lo sabía el dueño, y según nos contó no había ocurrido.
          Sea como sea el diagnóstico de Bourbon es epilepsia idiopática, lo cual quiere decir que es propenso genéticamente a tener esta enfermedad.
          Burbon a dia de hoy tiene un ataque semanalmente. Uno de los mayores problemas a los que nos enfrentamos en este caso,
          es que debido a su gran tamaño (es un mastín), las cantidades de medicación son mucho mayores que en otros perros,
          y además los ataques son mas dificiles de controlar.<br><br>Para más información sobre Bourbon <a href="detalle/15">pulsa aquí</a></p>
        <img class="c-sponsor__img" src="assets/img/bourbon.jpg" alt="">
      </div>
      <div class="c-sponsor__image-text">
        <img class="c-sponsor__img" src="assets/img/animals/ellie.jpg" alt="">
        <p class="c-sponsor__block-text"><strong class="c-sponsor__block-mini-title">Ellie: </strong>es una gata mayor que ha estado en una colonia hasta hace poco. Tiene calicivirus y al tener las encías muy reactivas le sangran.
          Esto quiere decir que necesitamos hacer sesiones de láser semanales. De momento nos falta que el cirujano le haga una revisión y confirme si este
          será el tratamiento. También hemos encontrado dos puntos en su garganta los cuales son provocados por el calicivirus. No son cancerígenos pero no se pueden retirar
          por lo que le es bastante complicado para ella comer sólido.<br><br>Para más información sobre Ellie <a href="detalle/9">pulsa aquí</a></p>
      </div>
      <div class="c-sponsor__text-image">
        <p class="c-sponsor__block-text"><strong class="c-sponsor__block-mini-title">Rayo: </strong>es un perro de 11 años perfectamente sano y muy divertido, lo unico malo es que es positivo a leishmanía y, aunque está controlado,
          necesita medicación de por vida. También tenemos que hacer analíticas periódicamente para comprobar que la leishmanía no da guerra,
          ni que la medicación le cause problemas renales o hepáticos.<br><br>Para más información sobre Rayo <a href="/detalle/12">pulsa aquí</a></p>
        <img class="c-sponsor__img" src="assets/img/animals/rayo.jpg" alt="">
      </div>
      <div class="c-sponsor__image-text">
        <img class="c-sponsor__img" src="assets/img/thomas.jpg" alt="">
        <p class="c-sponsor__block-text"><strong class="c-sponsor__block-mini-title">Thomas: </strong>Thomas es un perro muy feliz, a pesar de que tiene una cardiopatía, es alergico y
          es positivo leishmanía. También tiene problemas de piel y otitis crónica. Todo esto esta bastante estable gracias a todas la medicación que toma y
          sus revisiones periódicas. <br><br>Para más información sobre Thomas <a href="/detalle/14">pulsa aquí</a></p>
      </div>
      <div class="c-sponsor__text-image">
        <p class="c-sponsor__block-text"><strong class="c-sponsor__block-mini-title">Drogon, Viserion y Rhaegal: </strong>Estas tres ratas son ancianas y es muy poco probable que salgan adoptados.
          Al ser mayores necesitan mucha atención veterinaria de manera periódica. En su caso también necesitamos ayuda para su alimentación y
          sus accesorios en la jaulita.<br><br>Para más información sobre Drogon <a href="">pulsa aquí</a>
          <br><br>Para más información sobre Viserion <a href="">pulsa aquí</a>
          <br><br>Para más información sobre Rhaegal <a href="">pulsa aquí</a></p>
        <img class="c-sponsor__img" src="assets/img/drogo.jpg" alt="">
      </div>
    </div>
    <hr>
    <div class="c-sponsor__block">
      <p>Aunque estos son los Hakunas que más ayuda necesitan, puedes apadrinar o amadrinar a cualquiera de los peques que tenemos ahora mismo en adopción.
        Cuando el peque que hayas elegido tenga una familia definitiva te lo contaremos, y te preguntaremos si quieres apadrinar a otro nuevo Hakuna.
        También puedes dejar de apadrinar en el momento que quieras, solo nos lo tienes que avisar.</p>
    </div>
    <div class="c-sponsor__block">
      <h2>¡Nuestros Hakunas te lo agradecerán un montón!</h2>
    </div>
  </section>
</div>
