.c-about {
  &__block {
    margin: 50px 0;
    text-align: left;
    &-flex {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    @media only screen and (max-width: 768px) {
      margin: 15px 0 50px;
    }
  }
  &__list {
    @media only screen and (max-width: 768px) {
      padding-inline-start: 0;
      list-style: none;
    }
    &-item {
      margin-top: 10px;
    }
  }
}
