<div class="c-about">
  <section class="u-content">
    <h2 class="u-title">Sobre nosotros</h2>
    <div class="c-about__block">
      <p>Hakuna Matata Familia Animalista somos una Asociación Protectora de Animales dedicada al rescate, recuperación y rehabilitación de animales
        abandonados y maltratados, independientemente de su especie.
        Buscamos hogar a los peques rescatados que lo necesitan y liberamos a los que forman parte de la fauna
        autóctona o los remitimos a centros especializados de recuperación o Santuarios, donde serán atendidos y tendrán una vida plena y digna.</p>
    </div>
    <div class="c-about__block">
      <h2>Misión</h2>
      <p>Nuestra intención es ayudar a cualquier animal que lo necesite, tanto en atención veterinaria, alimentación, cuidados, educación, rehabilitación, socialización...
      y buscarles un hogar donde se les quiera y se les de el cariño, y la atención que necesitan. Además nuestra idea es colaborar en todo lo que podamos con otras asociaciones,
      para y por el bienestar animal. También tenemos algunas proposiciones para ayuntamientos y otras entidades para la protección y defensa de los animales.</p>
    </div>
    <div class="c-about__block">
      <app-help-boxes></app-help-boxes>
    </div>
    <div class="c-about__block">
      <p><strong>CIF: A36587394</strong></p>
      <p>Email de contacto: <strong>hakunamatata.familiaanimalista@gmail.com</strong></p>
    </div>
    <div class="c-about__block">
      <div class="c-about__block-flex"><icon-instagram></icon-instagram> <a href="https://www.instagram.com/hakunamatatafamiliaanimalista/" target="_blank">Perfil de Instagram</a></div>
      <div class="c-about__block-flex"><icon-facebook></icon-facebook> <a href="https://www.facebook.com/Hakunamatatafamiliaanimalista/" target="_blank">Perfil de Facebook</a></div>
    </div>
    <div class="c-about__block">
      Donaciones:
      <ul class="c-about__list">
        <li><strong>Cuenta bancaria:</strong> BBVA ES68 0182 1301 63 0201538338</li>
        <li><strong>Teaming: </strong><a class="u-link" href="https://www.teaming.net/hakunamatata" target="_blank">teaming.net/hakunamatata</a></li>
        <li><strong>PayPal:</strong> hakunamatata.familiaanimalista@gmail.com</li>
        <li><strong>Bizum:</strong> 676 022 124</li>
      </ul>
    </div>
  </section>
</div>
