<div class="c-help-boxes">
  <div>
    <h2 class="u-title">¿Cómo puedes ayudarnos?</h2>
    <div class="u-subtitle">Ayúdanos a continuar con nuestra labor:</div>
  </div>
  <div class="c-help-boxes__boxes">
    <div class="c-help-boxes__box" [routerLink]="'/como-ayudar'">
      <div class="c-help-boxes__box-header">
        <icon-piggy></icon-piggy>
        <h3>DONATIVOS</h3>
      </div>
      <p>Necesitamos ayuda económica para recaudar fondos para pagar los veterinarios de nuestros peques.</p>
    </div>
    <div class="c-help-boxes__box" [routerLink]="'/voluntariado'">
      <div class="c-help-boxes__box-header">
        <icon-volunteer></icon-volunteer>
        <h3>VOLUNTARIADO</h3>
      </div>
      <p>Eventos, mercadillos, traslados, acogidas... ¡hay muchas formas en las que nos puedes ayudar! ¡Infórmate aquí!</p>
    </div>
    <div class="c-help-boxes__box" [routerLink]="'/apadrina'">
      <div class="c-help-boxes__box-header">
        <icon-sponsor></icon-sponsor>
        <h3>APADRINA</h3>
      </div>
      <p>Apadrina a un Hakunita desde 5€ al mes y ayúdanos con sus gastos, ¡te mantendremos al día de sus aventuras!</p>
    </div>
    <div class="c-help-boxes__box" [routerLink]="'/casas-de-acogida'">
      <div class="c-help-boxes__box-header">
        <icon-shelter></icon-shelter>
        <h3>ACOGE</h3>
      </div>
      <p>Las casas de acogida son los que nos permite ayudar y rescatar animales, ¡infórmate y vive una experiencia única!</p>
    </div>
  </div>
</div>
