
<div class="c-event" [ngClass]="event.hasImage ? 'c-event--grid' : ''">
    <div>
        <div *ngIf="event.hasImage" class="c-event__img" [ngStyle]="{'background-image': 'url(' + getEventImage() + ')'}"></div>
    </div>
    <div>
        <div class="c-event__title">{{event.title}}</div>
        <div class="c-event__description">{{event.description}}</div>
        <div class="c-event__description">{{event.address}} <span class="c-event__place">{{event.city}}</span></div>
        <div class="c-event__date"><span *ngIf="event.endDate">Del </span>{{event.startDate | date: 'dd/MM/yyyy'}} <span *ngIf="event.endDate">al </span>{{event.endDate | date: 'dd/MM/yyyy'}}
         - <span *ngIf="event.endHour">De </span>{{event.startHour | slice: 0 : -3}} <span *ngIf="event.endHour">a </span>{{event.endHour | slice: 0 : -3}}</div>
        <div class="c-event__claim">¡Te esperamos!</div>
    </div>
</div>
