<div class="c-help-us">
  <div class="u-content">
    <div class="u-header">
      <h2 class="u-title">Cómo ayudarnos</h2>
      <p>Tenemos muchas formas para que puedas ayudarnos con los gastos de nuestros hakunitas:</p>
    </div>
    <div class="c-help-us__block">
      <h3 class="c-help-us__block-title">¡Ayúdanos gratis!</h3>
      <div class="c-help-us__block-inline">
        <img  class="c-help-us__block-img" src="assets/img/helpfreely.jpg" alt="">
        <p>Helpfreely es una plataforma en la que podrás ayudarnos mientras compras online, de una forma totalmente gratuita para tí. <br><strong>¡Ayuda a los hakunitas mientras haces tus compras habituales!</strong></p>
      </div>
    </div>
    <div class="c-help-us__block">
      <h3 class="c-help-us__block-title">¡Ayúdanos por 1€!</h3>
      <div class="c-help-us__block-inline">
        <img class="c-help-us__block-img" src="assets/img/teaming.jpg" alt="">
        <p>Teaming es una herramienta para gestionar recaudaciones para causas sociales. Se puede donar solo 1€/mes y es 100% sin comisiones. Si cada persona dona una cantidad simbólica al mes y nos unimos, podemos ayudar muchísimo.</p>
      </div>
    </div>
    <div class="c-help-us__block">
      <h3 class="c-help-us__block-title">¡Ayúdanos con lo que tu quieras!</h3>
      <div class="c-help-us__block-inline">
        <img class="c-help-us__block-img" src="assets/img/teaming.jpg" alt="">
        <p>Puedes hacer un donativo a nuestra bancaria con la cantidad que tu quieras: <br><strong>BBVA ES68 0182 1301 63 0201538338</strong></p>
      </div>
    </div>
  </div>
</div>
