<div class="c-help-us">
  <div class="u-content">
    <div class="u-header">
      <h2 class="u-title">Cómo ayudarnos</h2>
      <p class="u-subtitle">Tenemos muchas formas para que puedas ayudarnos con los gastos de nuestros hakunitas:</p>
    </div>
    <div class="c-help-us__block">
      <h3 class="c-help-us__block-title">¡Ayúdanos con Bizum!</h3>
      <div class="c-help-us__block-inline">
        <img class="c-help-us__block-img" src="assets/img/bizum.jpg" alt="">
        <p class="c-help-us__block-text">Bizum es una plataforma de pago mediante móvil muy fácil de usar. Si dispones de Bizum en tu banco, puedes hacernos una donación en el teléfono <strong>676 022 124</strong>. <br><strong>¡Ayuda a los hakunitas de una forma rápida y cómoda!</strong></p>
      </div>
    </div>
    <div class="c-help-us__block">
      <h3 class="c-help-us__block-title">¡Ayúdanos gratis!</h3>
      <div class="c-help-us__block-inline">
        <img class="c-help-us__block-img" src="assets/img/helpfreely.jpg" alt="">
        <p class="c-help-us__block-text">Helpfreely es una plataforma en la que podrás ayudarnos mientras compras online, de una forma totalmente gratuita para tí, <strong>¡Ayuda a los hakunitas mientras haces tus compras habituales!</strong><br><br><a class="u-link" target="_blank" href="https://www.helpfreely.org/es/nonprofits/es/hakuna-matata-6146/"><strong>¡Pulsa aquí y descubre cómo!</strong></a></p>
      </div>
    </div>
    <div class="c-help-us__block">
      <h3 class="c-help-us__block-title">¡Ayúdanos por 1€!</h3>
      <div class="c-help-us__block-inline">
        <img class="c-help-us__block-img" src="assets/img/teaming.jpg" alt="">
        <p class="c-help-us__block-text">Teaming es una herramienta para gestionar recaudaciones para causas sociales. Se puede donar solo 1€/mes y es 100% sin comisiones. Si cada persona dona una cantidad simbólica al mes y nos unimos, podemos ayudar muchísimo.<br><br><a class="u-link" target="_blank" href="https://www.teaming.net/hakunamatata"><strong>¡Pulsa aquí y descubre cómo!</strong></a></p>
      </div>
    </div>
    <div class="c-help-us__block">
      <h3 class="c-help-us__block-title">¡Ayúdanos con lo que tu quieras!</h3>
      <div class="c-help-us__block-inline">
        <img class="c-help-us__block-img" src="assets/img/logo.jpg" alt="">
        <p class="c-help-us__block-text">Puedes hacer un donativo a nuestra bancaria con la cantidad que tu quieras: <br><strong>BBVA ES68 0182 1301 63 0201538338</strong></p>
      </div>
    </div>
    <div class="c-help-us__block">
      <h3 class="c-help-us__block-title">¡Ayúdanos mediante PayPal!</h3>
      <div class="c-help-us__block-inline">
        <img class="c-help-us__block-img" src="assets/img/paypal.jpg" alt="">
        <p class="c-help-us__block-text">Tenemos cuenta de PayPal para facilitarte todo lo posible que puedas ayudarnos con los gastos veterinarios de los Hakunitas: <br><strong class="break-all">hakunamatata.familiaanimalista@gmail.com</strong></p>
      </div>
    </div>
  </div>
</div>
