<div class="c-for-adoption">
  <div class="u-content">
    <div class="u-header">
      <h2 class="u-title">En adopción</h2>
    </div>
    <p class="c-for-adoption__text">Todos nuestros HAKUNAS se entregan con tasa de adopción. La tasa de adopción es para cubrir parte de los gastos veterinarios que suponen.
      La tasa de adopción es fija, independientemente de los gastos que ese HAKUNA en concreto haya tenido.</p>
    <p class="c-for-adoption__text"><strong>Todos nuestros HAKUNAS se entregan:</strong></p>
    <ul class="u-list-check">
      <li>con REVISIÓN VETERINARIA</li>
      <li>DESPARASITACIÓN INTERNA Y EXTERNA (según especie)</li>
      <li>VACUNAS AL DÍA (según especie, o si la especie lo requiere)</li>
      <li>TEST Y/O PRUEBAS QUE LA ESPECIE NECESITE (coprológico, test de inmunodeficiencia y leucemia... etc)</li>
      <li>CHIP O IDENTIFICACIÓN (según especie, siempre que se pueda)</li>
      <li>ESTERILIZACIÓN, O IMPLANTE (siempre que la especie o estado de salud lo permitan) O COMPROMISO DE NO CRIAR CON ELLOS EN EL CASO DE NO PODER ESTERILIZAR.</li>
      <li>SEGUIMIENTO DURANTE TODA LA VIDA DEL HAKUNA EN CUESTIÓN.</li>
    </ul>
    <p class="c-for-adoption__text">Rescatamos animales, para darles una buena vida, en buenas condiciones, no son regalos, no son caprichos, no son juguetes ni objetos que se puedan desechar
      cuando la vida nos cambia, o cuando nos hartamos de ellos.</p>
    <p class="c-for-adoption__text"><strong>Ejemplos de tasas de adopción:</strong></p>
    <ul class="c-for-adoption__text">
      <li>PERROS: 160€</li>
      <li>GATOS: 130€</li>
      <li>HURÓN: 175€</li>
      <li>CONEJO: 65€</li>
      <li>AVES, ROEDORES, REPTILES: DEPENDE DE LA ESPECIE</li>
    </ul>
  </div>
</div>
