.c-for-adoption {
  &__text {
    text-align: left;
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
  &__block {
    margin-top: 50px;
  }
  &__gallery {
    @media only screen and (max-width: 768px) {
      margin: 50px 0;
    }
    &-boxes {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      @media only screen and (max-width: 768px) {
        display: block;
      }
    }
    &-box {
      min-width: 20%;
      height: 80px;
      padding: 30px 15px;
      // background-color: #38ca81;
      font-weight: bold;
      font-size: 18px;
      color: #fff;
      cursor: pointer;
      &:hover {
        background-color: #30ab6d;
      }
      &:first-child {
        background: #38ca81;
        &:hover {
          background-color: #30ab6d;
        }
      }
      &:nth-child(2) {
        background: #0eb5fb;
        &:hover {
          background: #05a1e2;
        }
      }
      &:nth-child(3) {
        background: #ef2368;
        &:hover {
          background: #bf0746;
        }
      }
      &:nth-child(4) {
        background: #fc6230;
        &:hover {
          background: #f14b15;
        }
      }
      &:nth-child(5) {
        background: #ef2368;
        &:hover {
          background: #bf0746;
        }
      }
      &:nth-child(6) {
        background: #38ca81;
        &:hover {
          background: #38ca81;
        }
      }
      &:nth-child(7) {
        background: #0eb5fb;
        &:hover {
          background: #05a1e2;
        }
      }
      @media only screen and (max-width: 768px) {
        margin-bottom: 10px;
        padding: 15px;
      }
    }
    &-img {
      width: 40px;
      margin-bottom: 10px;
      &-ferret {
        width: 60px;
        margin-bottom: 0;
      }
    }
  }
}
