<div class="c-tabs__tab" [routerLink]="['/main']" routerLinkActive="active">
    <div class="c-tabs__div-active"></div>
    <img class="c-tabs__icon" src="../assets/img/cat.svg" alt="">
    <div class="c-tabs__text">TODOS</div>
</div>
<div class="c-tabs__tab" [routerLink]="['/weak']" routerLinkActive="active">
    <div class="c-tabs__div-active"></div>
    <img class="c-tabs__icon" src="../assets/img/food.svg" alt="">
    <div class="c-tabs__text">REFORZAR</div>
</div>
<div class="c-tabs__tab" [routerLink]="['/sick']" routerLinkActive="active">
    <div class="c-tabs__div-active"></div>
    <img class="c-tabs__icon" src="../assets/img/pharmacy.svg" alt="">
    <div class="c-tabs__text">MEDICAR</div>
</div>
