.c-detail {
  margin: 60px auto;
  @media only screen and (max-width: 768px) {
    margin: 0 auto;
  }
  &__list-title {
    margin: 0;
  }
  &__row {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 400px 1fr;
    gap: 50px;
    @media only screen and (max-width: 768px) {
      display: block;
    }
  }
  &__img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
  }
  &__description {
    padding-top: 40px;
    text-align: left;
    &-text {
      margin-left: 20px;
    }
  }
  &__text {
    text-align: left;
    @media only screen and (max-width: 768px) {
      margin-top: 20px;
    }
  }
  &__list-title {
    margin-bottom: 20px;
  }
  &__form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
  }
  &__contact {
    &-item {
      display: flex;
      align-items: center;
      margin-top: 15px;
      @media only screen and (max-width: 768px) {
        display: block;
      }
    }
  }
  .mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
    height: 45px;
  }
}
