<div class="c-detail">
  <div class="u-content">

    <div class="u-header">
      <div class="u-back" (click)="back()">&#x0003C; Volver</div>
      <h2 class="u-title">Ficha de {{animal.name}}:</h2>
    </div>

    <form action="" [formGroup]="animalForm">
      <div class="c-detail__row">
        <div class="c-detail__img" [ngStyle]="{'background-image' : 'url(' + animal.imageUrl + ')'}"> </div>
        <div class="c-detail__text">
          <h3 class="c-detail__list-title">Detalles:</h3>

            <div class="c-detail__form-grid">


            <mat-form-field class="example-full-width">
              <mat-label>Nombre:</mat-label>
              <input type="text" matInput formControlName="name" placeholder="Nombre">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Especie:</mat-label>
              <mat-select formControlName="specie">
                <mat-option *ngFor="let specie of species" [value]="specie.value">
                  {{specie.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Subespecie:</mat-label>
              <input type="text" matInput formControlName="subspecie" placeholder="Subespecie">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Fecha de nacimiento:</mat-label>
              <input type="text" matInput formControlName="dateBirth" placeholder="Fecha de nacimiento">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Sexo:</mat-label>
              <input type="text" matInput formControlName="gender" placeholder="Sexo">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Raza:</mat-label>
              <input type="text" matInput formControlName="breed" placeholder="Raza">
            </mat-form-field>


            <mat-list-item>
              <mat-radio-group formControlName="isSterilized">
                <mat-radio-button value="true" [checked]="animal.isSterilized">Esterilizad@</mat-radio-button>
                <mat-radio-button value="false" [checked]="animal.isSterilized === false">No esterilizad@</mat-radio-button>
              </mat-radio-group>
            </mat-list-item>
          </div>
        </div>
      </div>

      <div class="c-detail__description">
        <h3>Más datos:</h3>
        <p class="c-detail__description-text"><strong>Carácter: </strong>{{animal.behaviour}}</p>
        <p class="c-detail__description-text"><strong>Historia: </strong>{{animal.story}}</p>
        <p class="c-detail__description-text"><strong>Estado: </strong>{{animal.status}}</p>
        <p class="c-detail__description-text"><strong>Compatible con: </strong>{{animal.compatibleWith}}</p>
        <p class="c-detail__description-text"><strong>Salud: </strong>{{animal.health}}</p>
        <p class="c-detail__description-text"><strong>¿Es necesaria licencia? </strong>{{animal.needLiscense === true ? 'Sí' : 'No'}}</p>
        <p class="c-detail__description-text"><strong>Para más información sobre {{animal.name}} <a target="_blank" href="{{animal.fbLink}}">pulsa aquí</a>.</strong></p>
      </div>

      <button type="submit" [disabled]="!animalForm.valid">Submit</button>

    </form>

  </div>
</div>
