.c-home {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  &__boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    @media only screen and (max-width: 768px) {
      display: block;
    }
  }
  &__main-box {
    width: 30%;
    height: 465px;
    background-size: cover;
    position: relative;
    &:first-child {
      background-image: url('../../../assets/img/main1.jpg');
    }
    &:nth-child(2) {
      background-image: url('../../../assets/img/main2.jpg');
    }
    &:nth-child(3) {
      background-image: url('../../../assets/img/main3.jpg');
    }
    &-text {
      width: 70%;
      position: absolute;
      bottom: 40px;
      background: #fff;
      padding: 20px;
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
      height: 380px;
      margin-bottom: 20px;
    }
  }
  &__help {
    margin: 105px 0;
  }
  &__events {
    margin: 105px 0;
  }
  &__gallery {
    margin: 105px 0;
    @media only screen and (max-width: 768px) {
      margin: 50px 0;
    }
    &-boxes {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      @media only screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }
    &-photos {
      margin: 50px 0;
      column-count: 3;
      column-gap: 1em;
      img {
        display: inline-block;
        margin: 0 0 1em;
        width: 100%;
      }
      @media only screen and (max-width: 768px) {
        margin: 10px 0;
        column-count: 2;
      }
    }
  }
}
