<div class="c-home">
  <div class="c-home__boxes">
    <div class="c-home__main-box">
      rescate, recuperación y rehabilitación animal
    </div>
    <div class="c-home__main-box">
      buscar la mejor familia a los animales que recuperamos
    </div>
    <div class="c-home__main-box">
      fomentamos la educación de las personas para la convivencia armoniosa de animales y personas
    </div>
  </div>
  <div class="c-home__help">
    <div class="c-home__help-title">
      <h2>¿Cómo puedes ayudarnos?</h2>
      <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
    </div>
    <div class="c-home__boxes">
      <div class="c-home__help-box">
        DONACIÓN
      </div>
      <div class="c-home__help-box">
        DONACIÓN
      </div>
      <div class="c-home__help-box">
        DONACIÓN
      </div>
      <div class="c-home__help-box">
        DONACIÓN
      </div>
    </div>
  </div>
  <div class="c-home__gallery">
    <div class="c-home__gallery-item">
      1
    </div>
    <div class="c-home__gallery-item">
      2
    </div>
    <div class="c-home__gallery-item">
      3
    </div>
    <div class="c-home__gallery-item">
      4
    </div>
    <div class="c-home__gallery-item">
      5
    </div>
  </div>
</div>
