<div class="c-home">
  <div>
    <h2 class="u-title">¿Qué hacemos?</h2>
    <div class="u-subtitle">Hakuna Matata Familia Animalista es una ONG dedicada a la protección animal, nuestros objetivos son:</div>
  </div>
  <div class="c-home__boxes">
    <div class="c-home__main-box">
      <div class="c-home__main-box-text">Rescate, recuperación y rehabilitación animal</div>
    </div>
    <div class="c-home__main-box">
      <div class="c-home__main-box-text">Búsqueda de la mejor familia a los animales que recuperamos</div>
    </div>
    <div class="c-home__main-box">
      <div class="c-home__main-box-text">Fomentar la educación para la convivencia armoniosa entre animales y personas</div>
    </div>
  </div>
  <div class="c-home__help">
    <app-help-boxes></app-help-boxes>
  </div>
  <div class="c-home__gallery">
    <div>
      <h2 class="u-title">En adopción</h2>
      <div class="u-subtitle">Estos son algunos de los animales que buscan un hogar, para ver más <a href="/en-adopcion">pulsa aquí</a>:</div>
    </div>
    <div class="c-home__gallery-boxes">
      <div *ngFor="let animal of homeAnimals; let i = index">
        <app-adoption-card [animal]="animal"></app-adoption-card>
      </div>
    </div>
  </div>
  <div class="c-home__gallery">
    <div>
      <h2 class="u-title">Algunos Hakunitas a los que hemos ayudado</h2>
    </div>
    <div class="c-home__gallery-photos">
      <img src="assets/img/gallery1.jpeg" alt="">
      <img src="assets/img/gallery3.jpeg" alt="">
      <img src="assets/img/gallery5.jpeg" alt="">
      <img src="assets/img/gallery4.jpeg" alt="">
      <img src="assets/img/gallery6.jpeg" alt="">
      <img src="assets/img/gallery7.jpeg" alt="">
      <img src="assets/img/gallery2.jpeg" alt="">
      <img src="assets/img/gallery8.jpeg" alt="">
      <img src="assets/img/gallery9.jpeg" alt="">
    </div>
  </div>
</div>
