<div class="c-volunteer">
  <section class="u-content">
    <h2 class="u-title">Hazte voluntari@</h2>
    <div class="c-volunteer__block">
      <h2 class="c-volunteer__block-title">¿Quieres hacer labores de voluntariado en Hakuna Matata Familia Animalista? ¡Genial!, te contamos qué opciones tienes, puedes elegir más de una, ¡por supuesto!</h2>
      <div class="c-volunteer__block">
        <img class="u-main-img" src="assets/img/cats.jpeg">
      </div>
      <div class="c-volunteer__list">
        <div class="c-volunteer__list-item">
          <icon-footprint mat-list-icon></icon-footprint>
          <div><strong>Ayuda en eventos y mercadillos:</strong> Para recaudar fondos para pagar los veterinarios de nuestros peques, necesitamos ayuda económica. Una de las maneras de conseguir algo de dinero, es organizar eventos y mercadillos solidarios. Puedes ayudarnos proponiendo y organizando algún mercadillo o evento que se te ocurra, siempre y cuando la forma de recaudar los fondos no vaya en contra de nuestros ideales. También puedes ayudar en los que organizamos nosotras, como cenas o comidas en diferentes restaurantes veganos que a veces colaboran, mercadillos de merchandising o cositas de segunda mano, jornada de tatuajes solidarios, talleres, sorteos... Los mercadillos y eventos que organizamos nosotras suelen ser en Bizkaia y Madrid. Si eres de otra zona y te apetece organizar alguna cosilla, no dudes en escribirnos!          </div>
        </div>
        <div class="c-volunteer__list-item">
          <icon-footprint mat-list-icon></icon-footprint>
          <div><strong>Ayuda con las difusiones y la creación de contenido digital:</strong> Puede parecer un trabajo muy fácil o de muy poco valor incluso, pero no! Nosotras a penas tenemos tiempo para pararnos delante del ordenador y buscar nuevas plataformas donde difundir, compartir en grupos o incluso llevar físicamente carteles a locales afines o veterinarios donde la gente pueda ver el trabajo que hacemos y los peques que buscan hogar... Y, además, para poder difundir primero hay que tener algo que difundir, carteles, flyers, trípticos, tarjetas, fichas de los Hakunitas, fotos de las cositas a la venta... Hay mucho trabajo que hacer en este sentido y no llegamos a todo! Toda ayuda es bienvenida!</div>
        </div>
        <div class="c-volunteer__list-item">
          <icon-footprint mat-list-icon></icon-footprint>
          <div><strong>Buscando o siendo colaborador:</strong> Tienes una tienda, sabes hacer cositas a mano, das algún tipo de servicio o conoces a alguien que lo haga y quiera echarnos una pata? Pues también nos viene estupendamente! Si en la frutería de tu barrio quieren poner una huchita de Hakuna o algunas chapitas nuestras a la venta, es de gran ayuda! Que sabes hacer macramé y quieres donarnos alguna cosita o incluso hacer algún sorteo o donar parte de los beneficios de x producto o lo que se te ocurra?? Cuéntanoslo! En el apartado de colaboradores aparecerá por supuesto esta labor solidaria que se hace por parte de la persona que done  parte de su trabajo, espacio, tiempo etc...</div>
        </div>
        <div class="c-volunteer__list-item">
          <icon-footprint mat-list-icon></icon-footprint>
          <div><strong>Quieres estar en contacto con nuestros animales más de cerca?</strong> Aunque no tenemos refugio, puedes hacerte casa de acogida, indefinida o temporal, para urgencias o cuarentenas... Pero, si no puedes llegar a ese nivel de compromiso, lo entendemos. En estos casos a veces necesitamos ayuda con los traslados a los veterinarios, a sus nuevos hogares, incluso, a veces, en los rescates! Dinos si quieres que contemos contigo para estos casos y te preguntaremos cuando necesitemos ayuda con algún traslado de Hakunitas!</div>
        </div>
        <div class="c-volunteer__list-item">
          <icon-footprint mat-list-icon></icon-footprint>
          <div><strong>Ayudarnos a ordenar la cacharrería:</strong> Tenemos una maravillosa lonja donde guardamos los donativos de cositas para vender en mercadillos y las cositas que tenemos para los Hakunas, pero es como una especie de cacharrería en la que el caos se adueña siempre del lugar aunque intentemos evitarlo... Puedes ayudarnos a que el caos se reduzca poco a poco. Nuestra cacharrería está en Bilbao.</div>
        </div>
        <div class="c-volunteer__list-item">
          <icon-footprint mat-list-icon></icon-footprint>
          <div><strong>Hay alguna cosa en la que crees que nos puedes ayudar y no la hemos citado aún? ¡Cuéntanos tu idea!</strong></div>
        </div>
      </div>
    </div>
  </section>
  </div>


