<nav class="navbar">
  <div class="navbar__top">
    <div class="navbar__top-rrss">
      <div><icon-instagram></icon-instagram></div>
      <div><icon-facebook></icon-facebook></div>
    </div>
    <img class="navbar__top-logo" src="assets/img/logo.jpg" alt="">
  </div>


  <div class="navbar__burger" (click)="presentMenu($event)">
      <span class="navbar__burger-menu" [ngClass]="isMenuVisible ? 'navbar__burger-menu--open' : ''">
          <span class="navbar__burger-menu-line"></span>
          <span class="navbar__burger-menu-line"></span>
          <span class="navbar__burger-menu-line"></span>
      </span>
  </div>
  <div class="navbar__menu" [ngClass]="isMenuVisible ? 'navbar__menu--open' : ''">
      <ul class="navbar__menu-list">
        <li class="navbar__menu-item" [routerLink]="['/home']" (click)="isMenuVisible = false">Inicio</li>
        <li class="navbar__menu-item" [routerLink]="['/sobre-nosotros']" (click)="isMenuVisible = false">Sobre nosotros</li>
        <li class="navbar__menu-item" [routerLink]="['/en-adopcion']" (click)="isMenuVisible = false">En Adopción</li>
        <li class="navbar__menu-item" [routerLink]="['/home']" (click)="isMenuVisible = false">Hazte voluntario</li>
        <li class="navbar__menu-item" [routerLink]="['/home']" (click)="isMenuVisible = false">Apadrina a un hakuna</li>
        <li class="navbar__menu-item" [routerLink]="['/casas-de-acogida']" (click)="isMenuVisible = false">Acoge</li>
        <li class="navbar__menu-item" [routerLink]="['/como-ayudar']" (click)="isMenuVisible = false">Ayúdanos</li>
        <!-- <li class="navbar__menu-item" [routerLink]="['/dashboard']" (click)="isMenuVisible = false">Dashboard</li> -->
        <!-- <li class="navbar__menu-item" [routerLink]="['/newAnimalForm']" (click)="isMenuVisible = false">Añadir gatito</li> -->
      </ul>
  </div>
</nav>



<div class="content">
    <router-outlet></router-outlet>
</div>


<footer class="footer">
  <div class="footer__content">

    Hakuna Matata Familia Animalista · CIF: A36587394

  </div>
</footer>
