.c-detail {
  max-width: 960px;
  margin: 60px auto;
  &__row {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 400px 1fr;
    gap: 50px;
  }
  &__img {
    width: 100%;
    height: 300px;
    background-size: cover;
  }
  &__description {
    padding-top: 60px;
  }
}
