<hr>

<div class="dashboard">

  <div class="dashboard__content">
    <div class="dashboard__left">
      <ul class="dashboard__list">
        <li
          class="dashboard__list-item"
          *ngFor="let item of menuItems"
          (click)="selectItem(item)"
          [class.active]="item.active"
        >{{item.title}}</li>
      </ul>
    </div>

    <div class="dashboard__right">

      <div class="searchbox">
          <input placeholder="Buscar por nombre" [(ngModel)]='listFilter' class="searchbox-input" type="text">
          <div class="searchbox-icon"></div>
      </div>

      <div class="dashboard__table">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Especie</th>
              <th>Subespecie</th>
              <th>Imagen</th>
              <th></th>
            </tr>
           </thead>
           <tbody>
            <tr *ngFor="let animal of filteredAnimals">
              <td><strong>{{animal.name}}</strong></td>
              <td>{{animal.specie.text}}</td>
              <td>{{animal.subspecie}}</td>
              <td>
                <div class="dashboard__table-img" [ngStyle]="{'background-image' : 'url(' + animal.imageUrl + ')'}"></div>
              </td>
              <td (click)="goToDetail(animal.id)"><mat-icon>edit</mat-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

