<div class="c-add-cat-form">
    <div class="c-add-cat-form__title">Añadir nuevo gatito:</div>
    <div class="c-add-cat-form__row">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="name" name="Nombre">
        </div>
    </div>
    <div class="c-add-cat-form__row">
        <div class="form-group">
            <label for="gender">Género:</label>
            <select class="form-control" id="gender" required>
              <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
            </select>
          </div>
    </div>
    <div class="c-add-cat-form__row">
        <div class="form-group">
            <label for="chip">Número de chip:</label>
            <input type="text" class="form-control" id="chip" required [(ngModel)]="chip" name="Número de chip">
        </div>
    </div>
    <div class="c-add-cat-form__row">
        <div class="form-group">
            <label for="entryDate">Fecha de recogida (mes/día/año):</label>
            <input type="date" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control" id="entryDate" required [(ngModel)]="entryDate" name="Fecha de recogida">
        </div>
    </div>
    <div class="c-add-cat-form__row">
        <div class="form-group">
            <label for="characteristic">Característica principal:</label>
            <input type="text" class="form-control" id="characteristic" required [(ngModel)]="characteristic" name="Característica">
        </div>
    </div>
    <div class="c-add-cat-form__row">
        <div class="form-group">
            <label for="captureZone">Lugar de recogida:</label>
            <input type="text" class="form-control" id="captureZone" required [(ngModel)]="captureZone" name="Lugar de recogida">
        </div>
    </div>
    <div class="c-add-cat-form__row">
        <div class="form-group">
            <label>Foto:</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="imageUrl" [(ngModel)]="imageUrl" (change)="onFileSelected($event)" placeholder="PLACEHOLDER">
                <label class="custom-file-label" for="imageUrl">{{ imageUrlText }}</label>
                <div class="custom-file-delete" (click)="deleteFile($event)">X</div>
            </div>
        </div>
    </div>
    <div class="c-add-cat-form__checkboxes">
        <div class="form-group">
            <label class="c-checkbox">¿Es necesario reforzarlo?
                <input type="checkbox">
                <span class="c-checkbox__checkmark"></span>
            </label>
        </div>
        <div class="form-group">
            <label class="c-checkbox">¿Es necesario medicarlo?
                <input type="checkbox" ([ngModel])="isSick">
                <span class="c-checkbox__checkmark"></span>
            </label>
        </div>
    </div>
    <div class="c-add-cat-form__row" *ngIf="isSick">
        <div class="form-group">
            <label for="medicineName">Medicamento:</label>
            <input type="text" class="form-control" id="medicineName" required [(ngModel)]="medicineName" name="Nombre del medicamento">
        </div>
        <div class="form-group">
            <label for="medicineDose">Dosis:</label>
            <input type="text" class="form-control" id="medicineDose" required [(ngModel)]="medicineDose" name="Dosis del medicamento">
        </div>
    </div>
</div>