body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.main-title {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.searchbox {
    position: relative;
    width: 100%;
    border: 1px solid grey;
    border-radius: 8px;
    margin-bottom: 16px;
    &-input {
        appearance: none;
        width: 80%;
        height: 40px;
        border: none;
        border-radius: 8px;
        padding: 0 10px;
        font-size: 16px;
        &:focus {
            outline: none;
        }
    }
    &-icon {
        width: 40px;
        height: 40px;
        background: url('/assets/img/search.svg') no-repeat center;
        background-size: 20px;
        border-left: 1px solid grey;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}

.c-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
    text-align: left;
    font-size: 14px;
    color: #353535;
    line-height: 27px;
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .c-checkbox__checkmark {
            background: #353535 url(assets/img/icon-checkbox.svg) center;
            border: 2px solid #353535;
        }
    }
    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: var(--ion-white);
        border: 2px solid #353535;
        border-radius: 2px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
