body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23f0f0f0' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ebebeb'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

hr {
  margin: 60px 0;
}

.overflow-hidden {
  overflow: hidden;
}

.visible-xs {
  display: none;
  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.hidden-xs {
  display: block;
  @media only screen and (max-width: 768px) {
    display: none!important;
  }
}

.break-all {
  word-break: break-all;
}

.loading {
  width: 80px;
}

.u-main-img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: auto;
}

.searchbox {
    position: relative;
    width: 100%;
    border: 1px solid grey;
    border-radius: 8px;
    margin-bottom: 16px;
    &-input {
        appearance: none;
        width: 80%;
        height: 40px;
        border: none;
        border-radius: 8px;
        padding: 0 10px;
        font-size: 16px;
        &:focus {
            outline: none;
        }
    }
    &-icon {
        width: 40px;
        height: 40px;
        background: url('/assets/img/search.svg') no-repeat center;
        background-size: 20px;
        border-left: 1px solid grey;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}

.c-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
    text-align: left;
    font-size: 14px;
    color: #353535;
    line-height: 27px;
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .c-checkbox__checkmark {
            background: #353535 url(assets/img/icon-checkbox.svg) center;
            border: 2px solid #353535;
        }
    }
    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: var(--ion-white);
        border: 2px solid #353535;
        border-radius: 2px;
    }
}

.u-back {
  font-weight: bold;
  font-size: 18px;
  color: #ef2368;
  text-decoration: underline;
  text-align: left;
  cursor: pointer;
}

.u-link {
  color: #fff;
  text-decoration: underline;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p {font-size: 18px; font-weight: 400;}

.u-content {
  max-width: 1145px;
  margin: 60px auto;
  text-align: center;
  @media only screen and (max-width: 768px) {
    margin: 0;
  }
}

.u-header {
  margin-bottom: 50px;
  @media only screen and (max-width: 768px) {
    margin-bottom: 0;
  }
}

.u-title {
  font-size: 40px;
  font-weight: normal;
  margin: 20px 0;
  text-transform: uppercase;
  display: inline-block;
  &:after {
    content: '';
    display: block;
    width: 150px;
    height: 5px;
    background: #ef2368;
  }
  @media only screen and (max-width: 768px) {
    font-size: 24px;
    &:after {
      content: none;
    }
  }
}

.u-subtitle {
  font-size: 24px;
  margin: 20px 0 40px;
  @media only screen and (max-width: 768px) {
    font-size: 16px;
    margin: 0 0 25px;
  }
}

.u-justify {
  text-align: justify;
}

.u-list-check {
  text-align: left;
  list-style-type: '\2713';
  li {padding: 0 5px 5px;}
  @media only screen and (max-width: 768px) {
    -webkit-padding-start: 20px;
  }
}

.mat-icon.u-icon-big {
  width: 50px;
  height: 50px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.u-mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  &-button {
    margin: 5px;
  }
}

.is-invalid {
  border: 1px solid red!important;
}

.u-button {
  padding: 20px;
  background: #ef2368;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  &:hover {
    background: #bf0746;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
