<div class="c-shelter-form">
  <div class="u-content">
    <div class="u-header">
      <h2 class="u-title">Formulario de acogida</h2>
      <p>Completa el siguiente formulario para ser casa de acogida de un animal de la especie: {{ specie }}.<br>Nos pondremos en contacto contigo lo antes posible. ¡Muchas gracias!</p>
    </div>
    <div class="c-shelter-form__block">
      <form novalidate (ngSubmit)="save()" [formGroup]="shelterForm">
        <div class="c-shelter-form__form-title">Datos personales</div>
        <div class="c-shelter-form__form-group form-group">
          <label class="c-shelter-form__label" for="name">Nombre</label>
          <input class="c-shelter-form__input form-control" type="text" id="name"
                placeholder="Nombre (requerido)"
                formControlName="firstName"
                [ngClass]="{'is-invalid': (shelterForm.get('firstName').touched ||
                                            shelterForm.get('firstName').dirty) &&
                                            !shelterForm.get('firstName').valid }" />
            <span class="c-shelter-form__invalid-feedback">
              <span *ngIf="submitted && shelterForm.get('firstName').hasError('required')">Por favor, introduzca su nombre</span>
            </span>
        </div>

        <div class="c-shelter-form__form-group form-group">
          <label class="c-shelter-form__label" for="lastName">Apellidos</label>
          <input class="c-shelter-form__input form-control" type="text" id="lastName"
                placeholder="Apellidos (requerido)"
                formControlName="lastName"
                [ngClass]="{'is-invalid': (shelterForm.get('lastName').touched ||
                                            shelterForm.get('lastName').dirty) &&
                                            !shelterForm.get('lastName').valid }" />
            <span class="c-shelter-form__invalid-feedback">
              <span *ngIf="submitted && shelterForm.get('lastName').hasError('required')">Por favor, introduzca al menos un apellido</span>
            </span>
        </div>

        <div class="c-shelter-form__form-group form-group">
          <label class="c-shelter-form__label" for="dni">DNI/NIE</label>
          <input class="c-shelter-form__input form-control" type="text" id="dni"
                placeholder="DNI/NIE (requerido)"
                formControlName="dni"
                [ngClass]="{'is-invalid': (shelterForm.get('dni').touched ||
                                            shelterForm.get('dni').dirty) &&
                                            !shelterForm.get('dni').valid }" />
            <span class="c-shelter-form__invalid-feedback">
              <span *ngIf="submitted && shelterForm.get('dni').hasError('required')">Por favor, introduzca su DNI o NIE</span>
            </span>
        </div>

        <div formGroupName="emailGroup">
          <div class="c-shelter-form__form-group form-group">
            <label class="c-shelter-form__label" for="emailId">Email</label>
            <input class="c-shelter-form__input form-control"
                    id="emailId"
                    type="email"
                    placeholder="Email (requerido)"
                    formControlName="email"
                    [ngClass]="{'is-invalid': emailMessage }" />
            <span class="c-shelter-form__invalid-feedback">
              {{ emailMessage }}
            </span>
          </div>
          <div class="c-shelter-form__form-group form-group">
            <label class="c-shelter-form__label" for="confirmEmailId">Confirma tu email</label>
            <input class="c-shelter-form__input form-control"
                    id="confirmEmailId"
                    type="email"
                    placeholder="Confirma el email (requerido)"
                    formControlName="confirmEmail"
                    [ngClass]="{'is-invalid': shelterForm.get('emailGroup').errors ||
                                              ((shelterForm.get('emailGroup.confirmEmail').touched ||
                                              shelterForm.get('emailGroup.confirmEmail').dirty) &&
                                              !shelterForm.get('emailGroup.confirmEmail').valid) }" />
            <span class="c-shelter-form__invalid-feedback">
              <span *ngIf="submitted && shelterForm.get('emailGroup.confirmEmail').errors?.required">
                Por favor, confirma tu email
              </span>
              <span *ngIf="shelterForm.get('emailGroup').errors?.match">
                Las direcciones de email no coinciden
              </span>
            </span>
          </div>
        </div>

        <div class="c-shelter-form__form-group form-group">
          <label class="c-shelter-form__label" for="phone">Teléfono</label>
          <input class="c-shelter-form__input form-control" type="text" id="phone"
                placeholder="Teléfono (requerido)"
                formControlName="phone"
                [ngClass]="{'is-invalid': (shelterForm.get('phone').touched ||
                                            shelterForm.get('phone').dirty) &&
                                            !shelterForm.get('phone').valid }" />
            <span class="c-shelter-form__invalid-feedback">
              <span *ngIf="submitted && shelterForm.get('phone').hasError('required')">Por favor, introduzca su teléfono</span>
            </span>
        </div>

        <div formGroupName="addressGroup">
          <div class="c-shelter-form__form-group">
            <label class="c-shelter-form__label" for="street">Dirección</label>
            <input class="c-shelter-form__input form-control"
                    id="street"
                    type="text"
                    placeholder="Dirección (requerido)"
                    formControlName="street"
                    [ngClass]="{'is-invalid': (shelterForm.get('addressGroup').errors ||
                                              shelterForm.get('addressGroup.street').dirty) &&
                                              !shelterForm.get('addressGroup.street').valid }">
            <span class="c-shelter-form__invalid-feedback">
              <span *ngIf="submitted && shelterForm.get('addressGroup.street').errors?.required">
                Por favor, introduzca su dirección
              </span>
            </span>
          </div>
          <div class="c-shelter-form__form-group c-shelter-form__form-group--address">
            <label class="c-shelter-form__label" for="city">Ciudad</label>
            <input class="c-shelter-form__input c-shelter-form__input--margin form-control"
                    id="city"
                    type="text"
                    placeholder="Ciudad (requerido)"
                    formControlName="city">
            <span class="c-shelter-form__invalid-feedback">
              <span *ngIf="submitted && shelterForm.get('addressGroup.city').errors?.required">
                Por favor, introduzca la ciudad
              </span>
            </span>

            <label class="c-shelter-form__label" for="state">Provincia</label>
            <input class="c-shelter-form__input c-shelter-form__input--margin form-control"
                    id="state"
                    type="text"
                    placeholder="Provincia (requerido)"
                    formControlName="state">
            <span class="c-shelter-form__invalid-feedback">
              <span *ngIf="submitted && shelterForm.get('addressGroup.state').errors?.required">
                Por favor, introduzca la provincia
              </span>
            </span>

            <label class="c-shelter-form__label" for="pc">Código Postal</label>
            <input class="c-shelter-form__input c-shelter-form__input--margin form-control"
                    id="pc"
                    type="number"
                    placeholder="Código Postal (requerido)"
                    formControlName="pc">
            <span class="c-shelter-form__invalid-feedback">
              <span *ngIf="submitted && shelterForm.get('addressGroup.pc').errors?.required">
                Por favor, introduzca el código postal
              </span>
            </span>
          </div>
        </div>

        <div class="c-shelter-form__form-group form-group">
          <label class="c-shelter-form__label" for="birthDate">Fecha de nacimiento</label>
          <input class="c-shelter-form__input form-control" type="text" id="birthDate"
                placeholder="Fecha de nacimiento (requerido)"
                formControlName="birthDate"
                [ngClass]="{'is-invalid': (shelterForm.get('birthDate').touched ||
                                            shelterForm.get('birthDate').dirty) &&
                                            !shelterForm.get('birthDate').valid }" />
            <span class="c-shelter-form__invalid-feedback">
              <span *ngIf="submitted && shelterForm.get('birthDate').hasError('required')">Por favor, introduzca su fecha de nacimiento</span>
            </span>
        </div>

        <div class="c-shelter-form__form-group form-group">
          <label class="c-shelter-form__label" for="married">Estado Civil</label>
          <input class="c-shelter-form__input form-control" type="text" id="married"
                placeholder="Estado Civil (requerido)"
                formControlName="married"
                [ngClass]="{'is-invalid': (shelterForm.get('married').touched ||
                                            shelterForm.get('married').dirty) &&
                                            !shelterForm.get('married').valid }" />
            <span class="c-shelter-form__invalid-feedback">
              <span *ngIf="submitted && shelterForm.get('married').hasError('required')">Por favor, introduzca su estado civil</span>
            </span>
        </div>

        <div class="c-shelter-form__form-group form-group">
          <label class="c-shelter-form__label" for="job">Profesión/Estudios</label>
          <input class="c-shelter-form__input form-control" type="text" id="job"
                placeholder="Profesión/Estudios (requerido)"
                formControlName="job"
                [ngClass]="{'is-invalid': (shelterForm.get('job').touched ||
                                            shelterForm.get('job').dirty) &&
                                            !shelterForm.get('job').valid }" />
            <span class="c-shelter-form__invalid-feedback">
              <span *ngIf="submitted && shelterForm.get('job').hasError('required')">Por favor, introduzca su profesión o estudios</span>
            </span>
        </div>

        <div class="c-shelter-form__form-title">Familia</div>
        <p class="c-shelter-form__form-text">Personas y animales que habitan en la casa y/o convivirán con el {{specie}} habitualmente (especifique relación con ellas, edades, carácter y ocupación):</p>
        <div class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">Indíquenos para cada animal y persona: si tendrá contacto habitual con el {{specie}} y si conoce su reacción con pequeños animales.</p>
          <textarea class="form-control"></textarea>
        </div>
        <div class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">¿Tienen alguna enfermedad que se pueda agravar por la tenencia de animales y sus complementos (sustratos, heno…)? (alergias, asma…)</p>
          <textarea class="form-control"></textarea>
        </div>
        <div class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">¿Están todos de acuerdo con la acogida?</p>
          <textarea class="form-control"></textarea>
        </div>
        <div class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">Si vive con  alguien (padres, pareja, compañeros de piso…) y más adelante deja de vivir con ellos, ¿qué pasaría con el animal acogido?</p>
          <textarea class="form-control"></textarea>
        </div>
        <div class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">¿Qué piensa de la convivencia de bebés y/o niños con un {{specie}}?</p>
          <textarea class="form-control"></textarea>
        </div>
        <div class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">Si llegase un nuevo miembro a la familia (hijo, pareja, ancianos) ¿Qué decisión tomarían respecto al destino del {{specie}} en caso de incompatibilidad entre este nuevo miembro o la nueva situación de la familia y el animal?</p>
          <textarea class="form-control"></textarea>
        </div>
        <div class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">¿A qué se dedica actualmente cada miembro de la familia? ¿En qué horario suelen estar en el domicilio cada uno de ellos aproximadamente? ¿Qué tiempo dedicarán a estar y atender al {{specie}}?</p>
          <textarea class="form-control"></textarea>
        </div>


        <div class="c-shelter-form__form-title">Vivienda destinada al {{specie}}</div>
        <div class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">¿El {{specie}} vivirá en el domicilio habitual del acogedor? </p>
          <textarea class="form-control"></textarea>
        </div>

        <div class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">Tipo de vivienda</p>
        </div>
        <div class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">En caso de ser una vivienda alquilada, ¿tiene conocimiento el dueño de la acogida y está de acuerdo?</p>
          <textarea class="form-control"></textarea>
        </div>
        <div class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">¿Tiene algún vecino que no le guste la presencia de un {{specie}} en el vecindario?</p>
          <textarea class="form-control"></textarea>
        </div>
        <div class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">¿Tiene algún tipo de protección en las ventanas y terrazas, como mosquiteras...?</p>
          <textarea class="form-control"></textarea>
        </div>
        <div class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">Si se trata de una comunidad de vecinos, ¿ha consultado en los estatutos si hay algún apartado en el que se especifique algo referente a la tenencia de animales en su domicilio? Si es así, ¿qué indican los estatutos?</p>
          <textarea class="form-control"></textarea>
        </div>
        <div *ngIf="animal.specie === 'hurón'" class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">¿El {{specie}} vivirá en una jaula o similar o estará suelto por la casa?</p>
          <textarea class="form-control"></textarea>
        </div>
        <div *ngIf="animal.specie === 'hurón'" class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">En caso de estar en jaula o similar, ¿de qué tamaño será la jaula? (indique medidas)</p>
          <textarea class="form-control"></textarea>
        </div>
        <div *ngIf="animal.specie === 'hurón'" class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">En caso de estar en jaula o similar, ¿cuánto tiempo y cuántas veces saldrá al día de la misma?</p>
          <textarea class="form-control"></textarea>
        </div>
        <div *ngIf="animal.specie === 'hurón'" class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">¿Habrá alguna habitación donde tenga prohibido entrar el animal?, ¿cuál?</p>
          <textarea class="form-control"></textarea>
        </div>
        <div *ngIf="animal.specie === 'hurón'" class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">¿El {{specie}} saldrá a la calle? ¿Cómo se le sacará y con qué asiduidad? (con arnés, con jaula pequeña…)</p>
          <textarea class="form-control"></textarea>
        </div>
        <div *ngIf="animal.specie === 'gato'" class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">¿El {{specie}} podrá acceder a todos los lugares de la vivienda? ¿Tendrá algún lugar específico destinado para él?</p>
          <textarea class="form-control"></textarea>
        </div>
        <div *ngIf="specie === 'gato'" class="c-shelter-form__form-group">
          <p class="c-shelter-form__form-text">¿El {{specie}} tendrá acceso al exterior (jardín, terraza abierta, bajo que da a la calle, campo, paseos con arnés...)?</p>
          <textarea class="form-control"></textarea>
        </div>

        <button class="u-button" type="submit">Enviar</button>
      </form>
    </div>
  </div>
</div>

